@import "tailwindcss";

@theme {
  --color-lucerna-blue: #003366;
  --color-lucerna-accent: #FFB800;
  --color-lucerna-gray: #F4F7F9;

  --font-inter: 'Inter', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
