@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');



.chatbot-toggler {
    position: fixed;
    right: 40px;
    bottom: 35px;
    height: 55px !important;
    width: 55px !important;
    color: #fff !important;
    border: none !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    outline: none !important;
    cursor: pointer !important;
    background: #00b0ff !important;
    border-radius: 50% !important;
    padding: 0 !important;
    transition: all 0.2s ease !important;
    z-index: 99999 !important;
    user-select: none !important;
}

.whatsapp-toggler {
    position: fixed;
    left: 40px;
    bottom: 35px;
    height: 55px !important;
    width: 55px !important;
    color: #fff !important;
    border: none !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    outline: none !important;
    cursor: pointer !important;
    background: #25d366 !important;
    border-radius: 50% !important;
    padding: 0 !important;
    transition: all 0.2s ease !important;
    z-index: 99999 !important;
}

.chatbot-tooltip {
    position: fixed;
    right: 40px;
    bottom: 95px;
    background: #f2f2f2;
    color: #000;
    border-radius: 15px 15px 0 15px;
    font-size: 15px !important;
    z-index: 99998;
    max-width: 65%;
    font-family: 'Roboto', sans-serif !important;
    display: none;
}

.show-whatsapp .whatsapp-toggler,
.show-chatbot .chatbot-toggler {
    transform: rotate(90deg);
}

.whatsapp-toggler span,
.chatbot-toggler span {
    position: absolute;
}

.show-whatsapp .whatsapp-toggler span:first-child,
.show-chatbot .chatbot-toggler span:first-child,
.whatsapp-toggler span:last-child,
.chatbot-toggler span:last-child {
    opacity: 0;
}

.show-whatsapp .whatsapp-toggler span:last-child,
.show-chatbot .chatbot-toggler span:last-child {
    opacity: 1;
}

.chatbot {
    position: fixed;
    right: 40px;
    bottom: 100px;
    width: 420px;
    transform: scale(0.5);
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    background: #fff;
    border-radius: 15px;
    transform-origin: bottom right;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
        0 32px 64px -48px rgba(0, 0, 0, 0.5);
    transition: all 0.1s ease-in-out;
    font-family: 'Roboto', sans-serif;
}

.show-chatbot .chatbot {
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
    z-index: 9999;
}

.whatsapp-form {
    position: fixed;
    left: 40px;
    bottom: 100px;
    width: 420px;
    transform: scale(0.5);
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    background: #fff;
    border-radius: 15px;
    transform-origin: bottom left;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
        0 32px 64px -48px rgba(0, 0, 0, 0.5);
    transition: all 0.1s ease-in-out;
    font-family: 'Roboto', sans-serif;
}

.show-whatsapp .whatsapp-form {
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
    z-index: 9999;
}

.chatbot-tooltip header {
    background: #0a0b3a;
    border-radius: 15px 15px 0 0;
    padding: 16px 20px !important;
    position: relative;
}

.chatbot-tooltip .tooltip-content {
    padding: 20px;
}

.chatbot header {
    background: #0a0b3a;
    padding: 16px 20px !important;
    position: relative;
    height: auto;
}

.whatsapp-form header {
    background: #075e54;
    padding: 16px 20px !important;
    position: relative;
    height: auto;
}

.chatbot header img {
    position: absolute;
    left: 20px;
    height: 30px !important;
    width: 30px !important;
    border-radius: 5px !important;
    margin: 0 10px 0 0 !important;
}

.chatbot-tooltip header .bot-name,
.chatbot header .bot-name,
.whatsapp-form header .bot-name {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 22px !important;
    font-weight: 700 !important;
    margin: 0 !important;
    line-height: 1.2 !important;
}

.chatbot header .status {
    color: #fff;
    font-size: 14px !important;
    font-weight: 400 !important;
}

.chatbot header .status .status-dot {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    background-color: #4CAF50;
}

.chatbot header .status .status-text {
    display: inline-block;
}

.chatbot-tooltip header span.close-btn,
.chatbot header span.close-btn {
    position: absolute;
    right: 20px;
    top: 50%;
    color: #00b0ff;
    cursor: pointer;
    display: none;
    transform: translateY(-50%);
    background-color: #fff;
    padding: 5px;
    border-radius: 7px;
}

.whatsapp-form header span.close-btn {
    position: absolute;
    right: 20px;
    top: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    transform: translateY(-50%);
    background-color: #075e54;
    padding: 5px;
    border-radius: 7px;
}

.chatbot .banner {
    font-size: 12px !important;
    height: 80px !important;
    background: #f1edfd !important;
    border: solid 1px #d5c9f8;
    display: flex !important;
    align-items: center !important;
    color: #724AE8 !important;
    padding: 20px !important;
}

.whatsapp-form .error {
    position: absolute !important;
    left: 0 !important;
    right: 0 !important;
    font-size: 12px !important;
    height: 60px !important;
    background: #fae3e5 !important;
    border: solid 1px #f3b7bd;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    color: #dc3545 !important;
    padding: 20px !important;
    opacity: 0;
}

.chatbot .error {
    position: absolute !important;
    bottom: 65px !important;
    left: 0 !important;
    right: 0 !important;
    font-size: 12px !important;
    height: 60px !important;
    background: #fae3e5 !important;
    border: solid 1px #f3b7bd;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    color: #dc3545 !important;
    padding: 20px !important;
    opacity: 0;
}

.chatbot .chatbox {
    height: 510px;
    overflow-y: auto;
    max-height: calc(100vh - 215px);
    padding: 30px 20px 70px !important;
    font-size: 14px !important;
    margin: 0 !important;
}

.whatsapp-form .whatsapp-form-content {
    overflow: auto;
    max-height: calc(100vh - 190px);
    padding: 20px 20px 30px 20px !important;
    font-size: 14px !important;
    margin: 0 !important;
}

.whatsapp-form .whatsapp-form-content label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif !important;
    color: #212121 !important;
}

.whatsapp-form .whatsapp-form-content input[type="text"],
.whatsapp-form .whatsapp-form-content input[type="email"],
.whatsapp-form .whatsapp-form-content input[type="tel"],
.whatsapp-form .whatsapp-form-content textarea{
    width: 100% !important;
    padding: 10px !important;
    margin-bottom: 10px !important;
    font-size: 14px !important;
    border: 1px solid #ccc !important;
    border-radius: 5px !important;
    font-family: 'Roboto', sans-serif !important;
    resize: none !important;
}

.whatsapp-form .whatsapp-form-content button {
    background: #25d366 !important;
    color: #fff !important;
    border: none !important;
    padding: 8px 16px !important;
    border-radius: 5px !important;
    font-size: 14px !important;
    font-weight: bold !important;
    cursor: pointer !important;
    font-family: 'Roboto', sans-serif !important;
    width: 100% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    column-gap: 8px !important;
}

.chatbox .chat {
    display: flex;
    margin-bottom: 15px;
}

.chatbox .incoming span {
    height: 32px;
    width: 32px;
    color: #fff;
    align-self: flex-end;
    background: #724AE8;
    text-align: center;
    line-height: 32px !important;
    border-radius: 4px;
    margin: 0 10px 7px 0 !important;
}

.chatbox .outgoing {
    margin: 20px 0 !important;
    justify-content: flex-end;

}

.chatbox .chat p {
    color: #fff;
    max-width: 75%;
    white-space: pre-wrap;
    font-size: 14px !important;
    padding: 12px 16px !important;
    border-radius: 10px 10px 10px 0;
    background: #00b0ff;
    overflow-wrap: break-word;
}

.chatbox .chat p a {
    color: #0a0b3a;
    text-decoration: underline;
}

.chatbox .outgoing p {
    color: #000;
    background: #f2f2f2;
    border-radius: 10px 10px 0 10px;
    margin: 0 !important;
    line-height: 1.5 !important;
}

.chatbot .chat-input {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    gap: 5px;
    background: #fff;
    padding: 5px 20px !important;
    border-top: 1px solid #ccc;
}

.chat-input textarea {
    height: 55px;
    width: 100%;
    border: none;
    outline: none;
    min-height: 55px !important;
    max-height: 90px !important;
    font-size: 14px !important;
    resize: none;
    padding: 16px 15px 16px 0 !important;
    font-family: 'Roboto', sans-serif;
    margin: 0 !important;
    line-height: 1.5 !important;
}

.chat-input span {
    align-self: flex-end;
    height: 55px;
    line-height: 55px !important;
    color: #724AE8;
    font-size: 25px !important;
    cursor: pointer;
    visibility: hidden;
}

.chat-input textarea:valid~span {
    visibility: visible;
}

.required-label::after {
    content: " *";
    color: red;
    font-weight: bold;
}

@media (max-width: 490px) {
    .whatsapp-form {
        left: 2.5%;
        bottom: 12%;
        width: 95%;
    }

    .chatbot {
        right: 2.5%;
        bottom: 12%;
        width: 95%;
        height: 80%;
    }

    .chatbot .chatbox {
        height: 90%;
    }

    .chatbot header {
        display: flex;
        align-items: center;
        padding: 14px 0 14px 16px !important;
        min-height: auto !important;
    }

    .chatbot-tooltip header .bot-name,
    .chatbot header .bot-name {
        order: 2;
        font-size: 18px !important;
        line-height: 1 !important;
    }

    .chatbot-tooltip header .status,
    .chatbot header .status {
        order: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .chatbot-tooltip header .status .status-text,
    .chatbot header .status .status-text {
        display: none;
    }

    .whatsapp-form header span.close-btn,
    .chatbot-tooltip header span.close-btn,
    .chatbot header span.close-btn {
        display: block;
        padding: 1px;
        font-size: 18px !important;
        border-radius: 5px;
        font-weight: 700 !important;
    }
}